{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_reg/login.css' %}">
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAYu-nGMlvOveGr9F1jLw0JI-T1_7bZbDo",
            authDomain: "loginregister-aaa51.firebaseapp.com",
            databaseURL: "https://loginregister-aaa51-default-rtdb.firebaseio.com",
            projectId: "loginregister-aaa51",
            storageBucket: "loginregister-aaa51.appspot.com",
            messagingSenderId: "790120905661",
            appId: "1:790120905661:web:e06394ee94b5c54aadf0d4",
            measurementId: "G-46VBHK6T08"
        };
        // Initialize Firebase app
        firebase.initializeApp(firebaseConfig);
    </script>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" id="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'login_reg:register' %}">Register Here</a></p>
        <p>Forgot your password? <a href="{% url 'login_reg:forgot_password' %}">Reset Password</a></p>
    </div>

    <script>
        document.querySelector('#login-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission

            // Get form values
            var username = document.querySelector('#username').value;
            var password = document.querySelector('#password').value;

            // Sign in with email and password
            firebase.auth().signInWithEmailAndPassword(username, password)
                .then(function (userCredential) {
                    // User login successful
                    var user = userCredential.user;
                    //   console.log('User logged in:', user);
                    alert("You have logged in!!!");
                    // Redirect to dashboard or perform other actions
                })
                .catch(function (error) {
                    // User login failed
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    console.error('Error logging in:', errorCode, errorMessage);
                    // Display error message to the user or perform other error handling
                });
        });
    </script>
</body>

</html>